<div class="c-presentation">
  <div class="c-container">
    <div class="c-control_bar">
      <app-search-text [placeholder]="'Search for a country...'" (onSearchTextChanged)="onSearchTextChanged($event)" [searchText]="filters.searchText">
      </app-search-text>
      <app-filter-by [placeholder]="'Filter by Region'" (onFilterByChanged)="onFilterByChanged($event)" [filter]="filters.searchRegion" [options]="regions"></app-filter-by>
    </div>
    <div class="c-list">
      <a href="/country/{{country.name}}" *ngFor="let country of filteredCountries" class="c-list-card c-card-country">
        <div class="c-flag">
          <img src="{{country.flags.png}}">
        </div>
        <h1 class="c-title">{{country.name}}</h1>
        <div class="c-info">
          <p><strong>Population:</strong> {{country.population | number}}</p>
          <p><strong>Region:</strong> {{country.region}}</p>
          <p><strong>Capital:</strong> {{country.capital}}</p>
        </div>
      </a>
    </div>
    <div class="c-loading" *ngIf="!filteredCountries.length">
      <span class="fa fa-spinner fa-spin"></span>
      Loading countries...
    </div>
  </div>
</div>