<div class="c-presentation">
  <div class="c-container">
    <div class="c-control_bar">
      <div class="c-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="c-input_text" placeholder="Search for a country..." [(ngModel)]="filters.searchText"
          (change)="filterCountries()">
        <i class="fa fa-times" aria-hidden="true" *ngIf="filters.searchText"
          (click)="filters.searchText = ''; filterCountries();"></i>
      </div>
      <div class="c-filter_by">
        <!-- <span class="c-label">Filter by</span> -->
        <div class="c-select_container">
          <div class="c-select_label" (click)="toggleShowSelectRegion()">{{filters.searchRegion || 'Filter by Region'}}
            <span class="fa fa-chevron-down" *ngIf="!filters.searchRegion"></span><span class="fa fa-times"
              *ngIf="filters.searchRegion" (click)="filters.searchRegion = ''; filterCountries();"></span>
          </div>
          <div class="c-select_options_container" *ngIf="isShowSelectRegion">
            <div class="c-select_options">
              <div class="c-select_option" (click)="selectRegion('')">Show all</div>
              <div class="c-select_option" *ngFor="let region of regions" (click)="selectRegion(region)">{{region}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-list">
      <a href="/country/{{country.name}}" *ngFor="let country of filteredCountries" class="c-list-card c-card-country">
        <div class="c-flag">
          <img src="{{country.flags.png}}">
        </div>
        <h1 class="c-title">{{country.name}}</h1>
        <div class="c-info">
          <p><strong>Population:</strong> {{country.population | number}}</p>
          <p><strong>Region:</strong> {{country.region}}</p>
          <p><strong>Capital:</strong> {{country.capital}}</p>
        </div>
      </a>
    </div>
    <div class="c-loading" *ngIf="!filteredCountries.length">
      <span class="fa fa-spinner fa-spin"></span>
      Loading countries...
    </div>
  </div>
</div>