<div class="c-presentation c-presentation--base">
  <div class="c-container">
    <div class="c-50">
      <div class="c-presentation-paper">
        <div class="c-flag-art-container">
          <div class="c-flag-art">
            <a href="/country/{{country.name}}" (mouseenter) ="mouseEnter(country)" (mouseleave) ="mouseLeave(country)" class="c-flag" *ngFor="let country of countries" title="{{country.name}}">
              <div class="c-flag-spacer">
                <img src="{{country.flags.png}}">
              </div>
            </a>
          </div>
        </div>
        <h1 class="c-presentation_title">learn more about<br/>{{hoveredCountry|| 'countries'}}!</h1>
        <a class="c-link" routerLink="/countries">Get Started Now</a>
      </div>
    </div>
    <div class="c-50">
      <div class="c-requirements">
        <h2>Did requirements as per document and screenshots</h2>
        <ul>
          <li>List all countries from the API</li>
          <li>Search for country using an 'input' field</li>
          <li>Filter countries by region</li>
          <li>Country details page</li>
          <li>Added click on border countries</li>
          <li>Light mode and Dark mode</li>
          <li>Responsive</li>
          <li>Routing</li>
          <li>Look and feel</li>
        </ul>
        <h2>Bonus</h2>
        <ul>
          <li>Added session storage for list of countries (loads only once from the server, even after refresh, will
            load again if you open a tab)</li>
          <li>Added session storage caching for mode</li>
          <li>Added session storage caching for search country</li>
          <li>Added session storage caching for filter region</li>
          <li>Added clear search country</li>
          <li>Added clear filter region</li>
        </ul>
      </div>
    </div>
  </div>
</div>